{% extends 'layout.html' %}

{% block content %}

<div class="content-section">
    <h1>Hello, Person</h1>
    <h3>This is temporary index page</h3>
    <p>meanwhile here is the bird for you</p>
    <img src="/static/img/birb.png" alt="birb">
</div>

{% for post in posts %}

<div class="media content-section">
    <img src="https://placehold.it/64x64" class="mr-3" , alt="..."><br>
    <div class="media-body">
        <i>{{ post.author.name }}</i>
        <hr class="hrspacing">
        <h5 class="mt-0">{{ post.title }}</h5>
        {{ post.content }}
    </div>
</div>

{% endfor %}


{% endblock %}